# Sytemd service unit for unifi-poller.

[Unit]
Description=UniFi Poller - Stores UniFi Metrics in InfluxDB
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/unifi-poller $DAEMON_OPTS
EnvironmentFile=-/etc/default/unifi-poller
EnvironmentFile=-/etc/sysconfig/unifi-poller
Restart=on-error
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=unifi-poller
Type=simple
User=nobody

[Install]
WantedBy=multi-user.target
