<?xml version="1.0" encoding="UTF-8"?>
<!--
#######################################################
# UniFi Poller primary configuration file. XML FORMAT #
# provided values are defaults                        #
#######################################################
-->
<unifi-poller>
  <!--
  # If the controller has more than one site, specify which sites to poll here.
  # Set this to "default" to poll only the first site on the controller.
  # A setting of "all" will poll all sites; this works if you only have 1 site too.
  Add more sites by adding additional lines:
  <sites>site1</sites>
  <sites>site2</sites>
  -->
  <sites>all</sites>

  <!--
  # The UniFi Controller only updates traffic stats about every 30 seconds.
  # Setting this to something lower may lead to "zeros" in your data. You've been warned.
  -->
  <interval>30s</interval>

  <!--
  # Turns on line numbers, microsecond logging, and a per-device log.
  # The default is false, but I personally leave this on at home (four devices).
  # This may be noisy if you have a lot of devices. It adds one line per device.
  -->
  <debug>false</debug>

  <!--
  # Turns off per-interval logs. Only startup and error logs will be emitted.
  # Recommend enabling debug with this setting for better error logging.
  -->
  <quiet>false</quiet>

  <!--
  # Which mode to run this application in. The default mode is "influx". Providing
  # an invalid mode will also result in "influx". In this default mode the application
  # runs as a daemon and polls the controller at the configured interval.
  #
  # There is only one other option at this time: "influxlambda"
  #
  # Lambda mode makes the application exit after collecting and reporting metrics
  # to InfluxDB one time. This mode requires an external process like an AWS Lambda
  # or a simple crontab to keep the timings accurate on UniFi Poller run intervals.
  -->
  <mode>influx</mode>

  <!--
  # If the poller experiences an error from the UniFi controller or from InfluxDB
  # it will exit. If you do not want it to exit, change max_errors to -1. You can
  # adjust the config to tolerate more errors by setting this to a higher value.
  # Recommend setting this between 0 and 5. See man page for more explanation.
  -->
  <max_errors>0</max_errors>

  <!--
  # InfluxDB does not require auth by default, so the user/password are probably unimportant.
  -->
  <influx_db>unifi</influx_db>
  <influx_pass>unifi</influx_pass>
  <influx_url>http://127.0.0.1:8086</influx_url>
  <influx_user>unifi</influx_user>


  <!--
  # Make a read-only user in the UniFi Admin Settings.
  -->
  <unifi_user>influxdb</unifi_user>
  <unifi_pass></unifi_pass>
  <unifi_url>https://127.0.0.1:8443</unifi_url>
  <!--
  # Enable collection of Intrusion Detection System Data.
  # Only useful if IDS or IPS are enabled on one of the sites.
  -->
  <collect_ids>false</collect_ids>
  <!--
  # If your UniFi controller has a valid SSL certificate, you can enable
  # this option to validate it. Otherwise, any SSL certificate is valid.
  -->
  <verify_ssl>false</verify_ssl>

</unifi-poller>
