########################################################
# UniFi Poller primary configuration file. YAML FORMAT #
# provided values are defaults. See up.conf.example!   #
########################################################
---
sites:
  - all
interval: "30s"

debug: false
quiet: false

mode: "influx"
http_listen: "0.0.0.0:9130"

influx_url: "http://127.0.0.1:8086"
influx_user: "unifi"
influx_pass: "unifi"
influx_db: "unifi"
influx_insecure_ssl: false

unifi_user: "influx"
unifi_pass: ""
unifi_url: "https://127.0.0.1:8443"
reauthenticate: false
verify_ssl: false
save_ids: false
save_sites: true
