########################################################
# UniFi Poller primary configuration file. YAML FORMAT #
# provided values are defaults. See up.conf.example!   #
########################################################
---

poller:
  debug: false
  quiet: false
  plugins: []

prometheus:
  disable: false
  http_listen: "0.0.0.0:9130"
  report_errors: false

influxdb:
  disable: false
  interval: "30s"
  url:  "http://127.0.0.1:8086"
  user: "unifi"
  pass: "unifi"
  db:   "unifi"
  verify_ssl: false

unifi:
  disable: false
  controllers:
    - name: ""
      user: "influx"
      pass: ""
      url: "https://127.0.0.1:8443"
      sites:
        - all
      verify_ssl: false
      save_ids: false
      save_sites: true
