########################################################
# UniFi Poller primary configuration file. YAML FORMAT #
# provided values are defaults. See up.conf.example!   #
########################################################
---

poller:
  debug: false
  quiet: false
  plugins: []

prometheus:
  disable: false
  http_listen: "0.0.0.0:9130"
  report_errors: false

influxdb:
  disable: false
  interval: "30s"
  url:  "http://127.0.0.1:8086"
  user: "unifipoller"
  pass: "unifipoller"
  db:   "unifi"
  verify_ssl: false

unifi:
  dynamic: false
  defaults:
    role: "https://127.0.0.1:8443"
    user: "unifipoller"
    pass: "unifipoller"
    url:  "https://127.0.0.1:8443"
    sites:
      - all
    verify_ssl: false
    save_ids:   false
    save_dpi:   false
    save_sites: true


  controllers:
   # Repeat the following stanza to poll more controllers.
    - role: ""
      user: "unifipoller"
      pass: "unifipoller"
      url:  "https://127.0.0.1:8443"
      sites:
        - all
      verify_ssl: false
      save_ids:   false
      save_dpi:   false
      save_sites: true
