/up.conf
/unifi-poller
/unifi-poller*.gz
/unifi-poller*.zip
/unifi-poller*.1
/unifi-poller*.deb
/unifi-poller*.rpm
/unifi-poller.*.arm
/unifi-poller.exe
/unifi-poller.*.macos
/unifi-poller.*.linux
/unifi-poller.rb
*.sha256
/vendor
.DS_Store
*~
/package_build_*
/release
MANUAL
MANUAL.html
README
README.html
/unifi-poller_manual.html
/homebrew_release_repo
/.metadata.make
bitly_token
github_deploy_key
gpg.signing.key
.secret-files.tar
