/up.conf
/unifi-poller
/unifi-poller*.gz
/unifi-poller*.1
/unifi-poller*.deb
/unifi-poller*.rpm
/unifi-poller*.pkg
/unifi-poller.macos
/unifi-poller.linux
/unifi-poller.rb
*.sha256
/vendor
.DS_Store
*~
/package_build_*
/release
README
README.html
/md2roff
/unifi-poller_manual.html
/homebrew-repo
