# Systemd service unit for {{BINARY}}.
# This is part of Application Builder.
# https://github.com/golift/application-builder
# This file is installed when FORMULA is set to 'service'.

[Unit]
Description={{BINARY}} - {{DESC}}
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/{{BINARY}} $DAEMON_OPTS
EnvironmentFile=-/etc/default/{{BINARY}}
EnvironmentFile=-/etc/sysconfig/{{BINARY}}
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{BINARY}}
Type=simple
WorkingDirectory=/tmp

# These should be set correctly for your environment.
UMask=0002
User={{BINARY}}
Group={{BINARY}}

[Install]
WantedBy=multi-user.target
