# Linux Systemd service unit for {{BINARY}}.
# This is part of Application Builder.
# https://github.com/golift/application-builder

[Unit]
Description={{BINARY}} - {{DESC}}
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/{{BINARY}} $DAEMON_OPTS
EnvironmentFile=-/etc/default/{{BINARY}}
EnvironmentFile=-/etc/sysconfig/{{BINARY}}
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{BINARY}}
Type=simple
User=nobody

[Install]
WantedBy=multi-user.target
