[Unit]
Description=Unifi Poller - Ubiquiti Metrics->InfluxDB
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/unifi-poller --config=/etc/unifi-poller/up.conf
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=unifi-poller
Type=simple
User=nobody

[Install]
WantedBy=multi-user.target
