<?xml version="1.0" encoding="UTF-8"?>
<!--
#############################################
# UniFi Poller primary configuration file.  #
# XML FORMAT. Provided values are defaults. #
# See up.conf.example!         v2           #
#############################################

NOTE: <plugin> and <site> are lists of strings and may be repeated.
-->
<poller debug="false" quiet="false">
  <!-- plugin></plugin -->

  <prometheus disable="false">
    <http_listen>0.0.0.0:9130</http_listen>
    <report_errors>false</report_errors>
  </prometheus>

  <influxdb disable="false">
    <interval>30s</interval>
    <url>http://127.0.0.1:8086</url>
    <user>unifipoller</user>
    <pass>unifipoller</pass>
    <db>unifi</db>
    <verify_ssl>false</verify_ssl>
  </influxdb>

  <unifi dynamic="false">
    <default>
      <site>all</site>
      <user>unifipoller</user>
      <pass>unifipoller</pass>
      <url>https://127.0.0.1:8443</url>
      <save_ids>false</save_ids>
      <save_dpi>false</save_dpi>
      <save_sites>true</save_sites>
      <hash_pii>false</hash_pii>
      <verify_ssl>false</verify_ssl>
    </default>

    <!-- Repeat this stanza to poll additional controllers. -->
    <controller>
      <site>all</site>
      <user>unifipoller</user>
      <pass>unifipoller</pass>
      <url>https://127.0.0.1:8443</url>
      <save_ids>false</save_ids>
      <save_dpi>false</save_dpi>
      <save_sites>true</save_sites>
      <hash_pii>false</hash_pii>
      <verify_ssl>false</verify_ssl>
    </controller>

  </unifi>
</poller>
