##############################################
# UniFi Poller primary configuration file.   #
# YAML FORMAT. Provided values are defaults. #
# See up.conf.example!        v2             #
##############################################
---

poller:
  debug: false
  quiet: false
  plugins: []

prometheus:
  disable:       false
  http_listen:   "0.0.0.0:9130"
  ssl_cert_path: ""
  ssl_key_path:  ""
  report_errors: false

influxdb:
  disable: false
  interval: "30s"
  url:  "http://127.0.0.1:8086"
  user: "unifipoller"
  pass: "unifipoller"
  db:   "unifi"
  verify_ssl: false

webserver:
  enable:        false
  port:          37288
  html_path:     "/usr/local/lib/unpoller/web"
  ssl_cert_path: ""
  ssl_key_path:  ""
  max_events:    200
  accounts:
    captain: "$2a$04$mxw6i0LKH6u46oaLK2cq5eCTAAFkfNiRpzNbz.EyvJZZWNa2FzIlS"

datadog:
  enable: false
  address: localhost:8125
  namespace: ""
  tags:
  - customer:abcdef

unifi:
  dynamic: false
  defaults:
    url:  "https://127.0.0.1:8443"
    user: "unifipoller"
    pass: "unifipoller"
    sites:
      - all
    timeout: 60s
    save_ids:    false
    save_events: false
    save_alarms: false
    save_anomalies: false
    save_dpi:    false
    save_sites:  true
    hash_pii:    false
    verify_ssl:  false


  controllers:
   # Repeat the following stanza to poll multiple controllers.
    - url:  "https://127.0.0.1:8443"
      user: "unifipoller"
      pass: "unifipoller"
      sites:
        - all
      save_ids:    false
      save_events: false
      save_alarms: false
      save_anomalies: false
      save_dpi:    false
      save_sites:  true
      hash_pii:    false
      verify_ssl:  false
