{
 "sites": ["all"],
 "interval": "30s",
 "debug": false,
 "quiet": false,
 "mode": "influx",
 "max_errors": 0,
 "influx_url": "http://127.0.0.1:8086",
 "influx_user": "unifi",
 "influx_pass": "unifi",
 "influx_db": "unifi",
 "unifi_user": "influx",
 "unifi_pass": "",
 "unifi_url": "https://127.0.0.1:8443",
 "collect_ids": false,
 "reauthenticate": false,
 "verify_ssl": false
}
