{
 "interval": "30s",
 "debug": false,
 "quiet": false,
 "mode": "influx",
 "http_listen": "0.0.0.0:9130",
 "influx_url": "http://127.0.0.1:8086",
 "influx_user": "unifi",
 "influx_pass": "unifi",
 "influx_db": "unifi",
 "influx_insecure_ssl": false,
 "controller": [{
   "name": "",
   "user": "influx",
   "pass": "",
   "url": "https://127.0.0.1:8443",
   "sites": ["all"],
   "save_ids": false,
   "save_sites": true,
   "verify_ssl": false
  }]
}
