<?xml version="1.0" encoding="UTF-8"?>
<!--
#######################################################
# UniFi Poller primary configuration file. XML FORMAT #
# provided values are defaults. See up.conf.example!  #
#######################################################

<plugin> and <site> are lists of strings and may be repeated.
-->
<poller debug="false" quiet="false">
  <plugin></plugin>

  <prometheus disable="false">
    <http_listen>0.0.0.0:9130</http_listen>
    <report_errors>false</report_errors>
  </prometheus>

  <influxdb disable="false">
    <interval>30s</interval>
    <url>http://127.0.0.1:8086</url>
    <user>unifi</user>
    <pass>unifi</pass>
    <db>unifi</db>
    <verify_ssl>false</verify_ssl>
  </influxdb>

  <unifi>
    <!-- Repeat this stanza to poll additional controllers. -->
    <controller name="">
      <site>all</site>
      <user>influx</user>
      <pass></pass>
      <url>https://127.0.0.1:8443</url>
      <verify_ssl>false</verify_ssl>
      <save_ids>false</save_ids>
      <save_sites>true</save_sites>
    </controller>
  </unifi>
</poller>
