<?xml version="1.0" encoding="UTF-8"?>
<!--
#######################################################
# UniFi Poller primary configuration file. XML FORMAT #
# provided values are defaults. See up.conf.example!  #
#######################################################
-->
<unifi-poller>

  <sites>all</sites>
  <interval>60s</interval>

  <debug>false</debug>
  <quiet>false</quiet>

  <mode>influx</mode>
  <http_listen>0.0.0.0:9130</http_listen>

  <influx_db>unifi</influx_db>
  <influx_pass>unifi</influx_pass>
  <influx_url>http://127.0.0.1:8086</influx_url>
  <influx_user>unifi</influx_user>
  <influx_insecure_ssl>false</influx_insecure_ssl>

  <unifi_user>influx</unifi_user>
  <unifi_pass></unifi_pass>
  <unifi_url>https://127.0.0.1:8443</unifi_url>
  <reauthenticate>false</reauthenticate>
  <verify_ssl>false</verify_ssl>

  <save_ids>false</save_ids>
  <save_sites>true</save_sites>

</unifi-poller>
