INFLUXDB_USER=admin
INFLUXDB_PASS=influxadmin
INFLUXDB_DB=unifi

GRAFANA_USERNAME=admin
GRAFANA_PASSWORD=grafanaadmin

# 2 means latest v2 release.
POLLER_TAG=2
POLLER_DEBUG=false
UNIFI_USER=unifipoller
UNIFI_PASS=set_this_on_your_controller
UNIFI_URL=https://127.0.0.1:8443
