# influxdb
INFLUXDB_HTTP_AUTH_ENABLED=true
INFLUXDB_ADMIN_USER=unpoller
INFLUXDB_ADMIN_PASSWORD=CHANGEME
INFLUXDB_DB=unpoller

# grafana
GRAFANA_USERNAME=admin
GRAFANA_PASSWORD=grafanaadmin

# unifi-poller
POLLER_TAG=latest
POLLER_DEBUG=false
POLLER_SAVE_DPI=false
# API key from https://api.unifi.ui.com — generate one under "API Keys" in the UI Site Manager
UNIFI_API_KEY=your_api_key_here
