INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=admin
INFLUXDB_DATABASE=unifi

GRAFANA_USERNAME=admin
GRAFANA_PASSWORD=admin

UP_BRANCH=stable
UP_UNIFI_USER=influx
UP_UNIFI_PASS=
UP_UNIFI_URL=https://127.0.0.1:8443
UP_DEBUG=false
